################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01RabbitMQ/02EasyNetQ/9.补充Demo/9.1异常处理/EasyNetQDemo.ErrorHandler/obj/Debug/netcoreapp2.2
/01RabbitMQ/02EasyNetQ/9.补充Demo/9.1异常处理/EasyNetQDemo.ErrorHandler/BaseMessage.cs
