<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/Logs/NLogInfo.txt">

	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyyyMMdd}_${level}.txt"
				layout="${longdate} | ${level} | ${callsite} | ${message} | ${exception:format=tostring}"
            />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>